/* Style */
.underline {text-decoration:underline !important;}
.bold {font-weight:bold !important;}
.italic {font-style:italic !important;}
.normal {text-decoration:none !important;}
.uppercase {text-transform:uppercase !important;}
.lowercase {text-transform:lowercase !important;}
.capitalize {text-transform:capitalize !important;}
.center {text-align:center !important}
.right {text-align:right !important}
.left {text-align:left !important}
.clear {clear:both !important;}
.white {color:white !important;}
.black {color:black !important;}
.red {color:darkred !important;}
.blue {color:blue !important;}
.green {color:green !important;}
.yellow {color:yellow !important;}
.orange {color:orange !important;}
.purple {color:purple !important;}
.width-full {width:100% !important;}
.border {border:2px solid black !important;}
.border-2 {border:2px solid blue !important;}
.no-margin {margin:0px !important;}
.no-margin-top {margin-top:0px !important;}
.no-padding {padding:0px !important;}
.padding-10 {padding:10px !important;}
.padding-7 {padding:7px !important;}
.padding-5 {padding:5px !important;}
.padding-3 {padding:3px !important;}
.tombol-wa {padding:10px 15px !important;}
.float-left {float:left !important;}
.float-right {float:right !important;}
.pointer {cursor:pointer !important;}
.default {cursor:default !important;}
.margin-3 {margin:3px !important;}
.margin-10 {margin:10px !important;}
.margin-20 {margin:20 !important;}
.margin-top-3 {margin-top: 3px !important;}
.margin-top-10 {margin-top: 10px !important;}
.margin-bottom-3 {margin-bottom: 3px !important;}
.margin-bottom-10 {margin-bottom: 10px !important;}
.no-padding-top {padding-top:0px !important;}

/*For Circle UNJA*/
.border-bottom-unja  {border-bottom:4px solid orange;}